# Ignore environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Mac/Linux system files
.DS_Store

# Logs
*.log